{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}DataStore{% endblock %}</h1>
{% endblock %}

{% block content %}	
	<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('data_recorded') }}">Datastore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/api/data">Api</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

	<div class="container">
	    <p>Total data recorded:{{length}}</p>
	    <div class="row">
  <!--div class="col-sm-6"-->
		{% for i in api %}
		<div class="card border-success mb-3 card w-75" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">DAY: {{i["Day"]}}</div>
  <div class="card-body text-success">
    <h5 class="card-title">{{i["Tempt"]}} (degree Celcius)</h5>
  </div>
  <div class="card-footer bg-transparent border-success">TIME: {{i["Time"]}}</div>
</div>
		{% endfor %}
				</div>
  </div>
		</div>
  </div>
</div>


	  
{% endblock %}		

