{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('data_recorded') }}">Datastore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/api/data">Api</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

{% if new_data %}
<div class="alert alert-success" role="alert">NEW NOTIFICATION ARRIVED</div>
<div class="alert alert-dark" role="alert">{{length}} new data recorded</div>
{% for i in new_data %}	
<p>{{i}}</p>
{% endfor %}
{% else %}
<div class="alert alert-dark" role="alert">You have viewed all data</div>
<p>If you want to view all recorded data then</p>
<p>move to <a href="{{ url_for('data_recorded') }}">DATASTORE</a> </p>
{% endif %}
</div>
</div>
{% endblock %}	
